Xcursor.theme: Oxygen_Zion
rofi.terminal: urxvt
!rofi.kb-cancel: Escape,Control+[
URxvt*termName: screen-256color
URxvt*urgentOnBell: true
!URxvt*transparent: true
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/cccc
!URxvt*foreground: #ffffff
URxvt*shading: 20
URxvt*scrollBar: false
URxvt*cursorBlink: 1
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 2
URxvt*font: xft:Terminess Powerline:size=9
URxvt*perl-ext-common: vtwheel,clipboard
URxvt*keysym.M-c: perl:clipboard:copy
URxvt*keysym.M-v: perl:clipboard:paste
URxvt*keysym.M-C-v: perl:clipboard:paste_escaped
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

!*color0:  #2E3436
!*color1:  #a40000
!*color2:  #4E9A06
!*color3:  #C4A000
!*color4:  #3465A4
!*color5:  #75507B
!*color6:  #ce5c00
!*color7:  #babdb9
!*color8:  #555753
!*color9:  #EF2929
!*color10: #8AE234
!*color11: #FCE94F
!*color12: #729FCF
!*color13: #AD7FA8
!*color14: #729fcf
!*color15: #EEEEEC
! ! Black
! URxvt*color0:           #262626
! URxvt*color8:           #252525
! 
! ! Red
! URxvt*color1:           #C12121
! URxvt*color9:           #E50E0E
!  
! ! Green
! URxvt*color2:           #597b20
! URxvt*color10:          #89b83f
!  
! ! Yellow
! URxvt*color3:           #Ded838
! URxvt*color11:          #efef60
!  
! ! Blue
! URxvt*color4:           #265997
! URxvt*color12:          #3F6FD0
! 
! ! Magenta
! URxvt*color5:           #706c9a
! URxvt*color13:          #826ab1
!  
! ! Cyan
! URxvt*color6:           #69a2b0
! URxvt*color14:          #a1cdcd
!  
! ! White
! URxvt*color7:           #BBBBBB
! URxvt*color15:          #EEEEEF

*background: #151515
*foreground: #888888
! black
*color0: #1C1C1C
*color8: #404040
! red
*color1: #B85335
*color9: #CF6A4C
! green
*color2: #799D6A
*color10: #99AD6A
! yellow
*color3: #FFB964
*color11: #FAD07A
! blue
*color4: #667899
*color12: #8197BF
! magenta
*color5: #8787AF
*color13: #C6B6EE
! cyan
*color6: #668799
*color14: #8FBFDC
! white
*color7: #888888
*color15: #E8E8D3

