extends c

snippet nss
namespace ${1:_name_} {

$0

}  // namespace $1
endsnippet

snippet anss
namespace {

$0

}  // namespace
endsnippet

snippet cls
class ${1:_name_} {
public:$0
private:
};
endsnippet
